<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Data</title>
</head>
<body>
  <h1>Все туры:</h1>

  <p>{{data.1.country}}: <a href="/data/tours/1/">{{data.1.title}} {{data.1.price}} {{data.1.stars}}*</a></p>
  <p>{{data.2.country}}: <a href="/data/tours/2/">{{data.2.title}} {{data.2.price}} {{data.2.stars}}*</a></p>
  <p>{{data.3.country}}: <a href="/data/tours/3/">{{data.3.title}} {{data.3.price}} {{data.3.stars}}*</a></p>
  <p>{{data.4.country}}: <a href="/data/tours/4/">{{data.4.title}} {{data.4.price}} {{data.4.stars}}*</a></p>
  <p>{{data.5.country}}: <a href="/data/tours/5/">{{data.5.title}} {{data.5.price}} {{data.5.stars}}*</a></p>
  <p>{{data.6.country}}: <a href="/data/tours/6/">{{data.6.title}} {{data.6.price}} {{data.6.stars}}*</a></p>
  <p>{{data.7.country}}: <a href="/data/tours/7/">{{data.7.title}} {{data.7.price}} {{data.7.stars}}*</a></p>
  <p>{{data.8.country}}: <a href="/data/tours/8/">{{data.8.title}} {{data.8.price}} {{data.8.stars}}*</a></p>
  <p>{{data.9.country}}: <a href="/data/tours/9/">{{data.9.title}} {{data.9.price}} {{data.9.stars}}*</a></p>
  <p>{{data.10.country}}: <a href="/data/tours/10/">{{data.10.title}} {{data.10.price}} {{data.10.stars}}*</a></p>
  <p>{{data.11.country}}: <a href="/data/tours/11/">{{data.11.title}} {{data.11.price}} {{data.11.stars}}*</a></p>
  <p>{{data.12.country}}: <a href="/data/tours/12/">{{data.12.title}} {{data.12.price}} {{data.12.stars}}*</a></p>
  <p>{{data.13.country}}: <a href="/data/tours/13/">{{data.13.title}} {{data.13.price}} {{data.13.stars}}*</a></p>
  <p>{{data.14.country}}: <a href="/data/tours/14/">{{data.14.title}} {{data.14.price}} {{data.14.stars}}*</a></p>
  <p>{{data.15.country}}: <a href="/data/tours/15/">{{data.15.title}} {{data.15.price}} {{data.15.stars}}*</a></p>
  <p>{{data.16.country}}: <a href="/data/tours/16/">{{data.16.title}} {{data.16.price}} {{data.16.stars}}*</a></p>

</body>
</html>